/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.vaccination-coverage-container {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  width: 90%;
}

.vacination-container-heading {
  color: #94a3b8;
  font-size: 24px;
}
